.announcement
    .announcement__title
        .announcement__title__text
            h2 World largest medical summit <br /> Kuala-Lumpur <br /> Petronas Twin Towers
    .announcement__info
        .announcement__info__dates 19.10.2018 - 27.10.2018
        .announcement__info__registration
            button.button REGISTRATION
        .announcement__info__tax No tax till 01.09.2018
        .announcement__info__learn-more
            a(href="#") Learn more