.sidebar
    .sidebar__title
        .sidebar__title__text
            h1 <span class="sidebar__title__text-plus">+</span>Med <br /> Summit<br /> 18.
    .sidebar__menu
        .sidebar__menu__items
            ul
                each val in ['Programm', 'Our speakers', 'Location', 'Taxes and fees', 'Become a speaker', 'About']
                    li= val
    .sidebar__contact-us Contact us