.speakers
    .speakers__title
        h3 Speakers:
    .speakers__list
        .speakers__list__carousel
            .slider.owl-carousel
                .speaker
                    img(src="./images/speaker.png", alt="спикер")
                    h4.speaker__name PhD John Hertz
                    hr(align="left" width="30px" size="8" color="#006666")
                    p.speaker__profession Molecular surgery
                .speaker
                    img(src="./images/speaker.png", alt="спикер")
                    h4.speaker__name PhD John Hertz
                    hr(align="left" width="30px" size="8" color="#006666")
                    p.speaker__profession Molecular surgery
                .speaker
                    img(src="./images/speaker.png", alt="спикер")
                    h4.speaker__name PhD John Hertz
                    hr(align="left" width="30px" size="8" color="#006666")
                    p.speaker__profession Molecular surgery
                .speaker
                    img(src="./images/speaker.png", alt="спикер")
                    h4.speaker__name PhD John Hertz
                    hr(align="left" width="30px" size="8" color="#006666")
                    p.speaker__profession Molecular surgery
                .speaker
                    img(src="./images/speaker.png", alt="спикер")
                    h4.speaker__name PhD John Hertz
                    hr(align="left" width="30px" size="8" color="#006666")
                    p.speaker__profession Molecular surgery
                .speaker
                    img(src="./images/speaker.png", alt="спикер")
                    h4.speaker__name PhD John Hertz
                    hr(align="left" width="30px" size="8" color="#006666")
                    p.speaker__profession Molecular surgery    
                .speaker
                    img(src="./images/speaker.png", alt="спикер")
                    h4.speaker__name PhD John Hertz
                    hr(align="left" width="30px" size="8" color="#006666")
                    p.speaker__profession Molecular surgery    
                .speaker
                    img(src="./images/speaker.png", alt="спикер")
                    h4.speaker__name PhD John Hertz
                    hr(align="left" width="30px" size="8" color="#006666")
                    p.speaker__profession Molecular surgery                    
        .speakers__list__become-speaker
            h3 Become a speaker
            button.button Apply now