.announcement {
  flex: 2 1 500px;
  background: url(../../images/background.jpg) no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    &__text {
      color: #fff;
      text-align: right;
      font-family: $ff-main-thin;
      font-size: 2.5rem;
      padding-right: 3rem;
    }
  }

  &__info {
    text-align: center;
    color: #fff;
    padding-bottom: 0;
    font-family: $ff-main-thin;

    &__dates {
      font-size: 3.5rem;
      padding-bottom: 1rem;
    }

    &__registration {
        padding-bottom: 1rem;

      
    }

    &__tax {
        font-size: 1rem;
        padding-bottom: 1rem;
    }

    &__learn-more {        
        font-size: 1rem;
        padding-bottom: 3rem;

        & a {
            color: #fff;
        }
    }
  }
}
