.content {
    flex: 10 2 500px;    
    display: flex;
    flex-direction: column;   
    height: 100vh; 
    max-width: calc(80%);

    
}

@media (max-width: 768px) {
    .content{
        max-width: calc(100%);
    }        
}