.sidebar {
  flex: 1 1 23%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  
  &__title {
    background-color: #00544e;
    margin-top: 0;
    position: relative;
    z-index: 1;

    &:after {
      background: inherit;
      bottom: 0;
      content: "";
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      right: 0;
      transform: skewY(-10deg);
      transform-origin: 100%;
      z-index: -1;
    }

    &__text {
      color: #fff;
      padding-left: 3rem;
      padding-top: 3rem;
      text-transform: uppercase;
      font-family: $ff-main-bold;      

      &-plus {
        font-size: 4.5rem;
      }

      & h1 {
          font-size: 4rem;
          margin-top: 0;
      }
    }
  }

  &__menu {
    flex-grow: 1;

    &__items {
        padding-top: 2rem;
        height: 100%;
        

        & ul {
            display: flex; 
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            padding: 4rem;
            
        }
    }
  }

  &__contact-us {
      background-color: #330000;
      color: #fff;
      text-align: center;
      padding: 1rem;
      font-family: $ff-main-bold;
      font-size: 2rem;
  }
}
