.speakers {
  flex: 1 1 100px;

  @media (max-width: 1023px) {
    .content {
      max-width: calc(80%);
    }
  }

  &__title {
    padding: 10px 20px;
    margin: 0;

    & h3 {
      margin: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__carousel {
      flex: 10000 1 200px;
      max-width: calc(83%);

      & hr {
        margin: 0.5rem auto 0.5rem 0;
        width: 4rem;
        height: 3px;
        background-color: #006666;
      }

      & .owl-nav {
        font-size: 3rem;
        text-align: center;
      }

      @media (max-width: 1023px) {
        & {
          max-width: calc(100%);
        }
      }
    }

    &__become-speaker {
      flex: 1 1 100px;
      font-family: $ff-main-bold;
      font-size: 2rem;
      padding: 0 2rem 2rem 2rem;
      text-align: center;

      & .button {
        font-size: 1.5rem;
        text-transform: none;
        padding: 0.5rem 2rem;
      }
    }
  }
}

.speaker {
  padding: 0px 10px 10px 10px;

  & h4 {
    margin: 0;
    padding-top: 1rem;
  }

  & p {
    margin: 0;
    color: #006666;
  }
}

.slider {
  display: flex;
}

img {
  width: 90%;
}