.button {
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 28px;
  color: #ffffff;
  background: #0099ff;
  border: 0;
  padding: 1rem 3.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $ff-main-thin;

  &:hover {
    background: #71c5fa;
    background-image: linear-gradient(to bottom, #71c5fa, #137dc4);
    text-decoration: none;
  }

  &:active,
  &:focus {
    outline: none;
  }
}